.invalid-container {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: 500px;
    border-radius: 8px;
    align-self: center;
    position:  absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.invalid-header {
    background-color: blueviolet;
    text-align: start;
    color: white;
    font-weight: bolder;
    padding: 3px;
    border-radius: 8px 8px 0px 0px;
}

.invalid-header h3 {
    margin-left: 10px;
}

.invalid-text {
    display: flex;
    flex-direction: column;
    padding-bottom: 3px;
    /* justify-content: start;
    align-items: center; */
}

.invalid-text p {
    align-self: flex-start;
    margin-left: 10px;
    height: 100px;
}

.invalid-text button {
    align-self: flex-end;
    margin-right: 6px;
    margin-bottom: 6px;
    width: 4rem;
}